.App {
  text-align: center;
  display: flex;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-1 .links {
  display: flex;
  flex-direction: column;
}

.col-1 .links a {
  font-size: 1.25em;
  padding: 2%;
}

.col-2 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'k2dbold';
  src: url('../fonts/k2d-bold-webfont.woff2') format('woff2'),
       url('../fonts/k2d-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'k2d_mediumregular';
  src: url('../fonts/k2d-medium-webfont.woff2') format('woff2'),
       url('../fonts/k2d-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'k2dregular';
  src: url('../fonts/k2d-regular-webfont.woff2') format('woff2'),
       url('../fonts/k2d-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
body {
  margin:  0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'k2dregular', sans-serif; 
  background: #f5f5f5;
}

.font-bold {
  font-family: 'k2dbold', sans-serif;
}

.color-salmon {
  color: #fa8366;
}

.color-green {
  color: #b7d84b;
}

.color-sky {
  color: #4ab3f4;
}

#numberOfAttempts {
  font-size: 2em;
  text-align: right;
  margin: 0;
  padding: 0 10px;
}

#gameArea {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}

#gameStats {
  align-content: center;
  justify-content: space-evenly;
}

#gameStats .stat {
  font-size: 2em;
  text-align: center;
  margin: 2%;
}

#gameArea {
  width: 100%;
  height: 70vh;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  border: 1px black solid;
  box-sizing: border-box;
}

.gamecomplete {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#HighScoreList {
  padding: 15px;
}
#HighScoreList ul {
  padding-top: 20px;
}

.randomize-btn,
.startGame-btn {
  display: block;
  height: 40px;
  font-size: 16px;
  margin: auto;
  padding: auto;
}

button {
  cursor: pointer;
  color: #FFF;
  background: #8bbc37;
  -webkit-box-shadow: 0 3px 1px #64950d;
     -moz-box-shadow: 0 3px 1px #64950d;
          box-shadow: 0 3px 1px #64950d;

  border: 0;
  padding: 10px;
  margin: 20px auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; 
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 1.2em;
}
button:disabled {
  opacity: .5;
  cursor: auto;
}

/* 
.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: cyan;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #FF9A56;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #FF9A56;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.startGame-btn {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

 */
.card {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px black solid;
  justify-self: center;
  transition: all 0.3s ease-in;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in;
}

@media (max-width: 850px) {
  #gameArea {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  #gameArea {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  #gameArea {
    grid-template-columns: 1fr;
  }
}
