.front {
  width: 100%;
  height: 100%;
}

.front-icon {
  position: absolute;
  left: 20%;
  top: 20%;
}

.back-icon {
  background-color:#F4E7D7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 1px #3F4234 solid;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.front-icon-spa {
  position: absolute;
  left: 20%;
  top: 20%;
}

@media (max-width: 650px) {
  .front-icon,
  .front-icon-spa {
    left: 12%;
    top: 15%;
  }
}
